.header {
  background-color: var(--clr-dark-blue-600);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem 1.35rem 0.2rem;
}

.header__logo img {
  height: 1.43rem;
  width: auto;
}

.header__nav ul {
  margin-top: -0.2rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__nav a {
  color: var(--clr-white);
  text-decoration: none;
  font-size: 0.65rem;
  letter-spacing: 0.9px;
}

.header__nav a:hover,
.header__nav a:focus-visible {
  text-decoration: underline;
  text-stroke: 1px var(--clr-white);
  -webkit-text-stroke: 1px var(--clr-white);
  outline: none;
}

@media only screen and (min-width: 768px) {
  .header__content {
    padding: 2.5rem 0.25rem 1.35rem 0.4rem;
  }

  .header__nav a {
    font-size: 0.925rem;
    letter-spacing: 0.5px;
  }
}

@media only screen and (min-width: 1120px) {
  .header__content {
    padding: 4.5rem 0.25rem 1.35rem 0.4rem;
  }

  .header__logo img {
    height: 3.25rem;
    width: auto;
  }

  .header__nav ul {
    gap: 3.6rem;
  }
}
